@model IEnumerable<ShoppingProject.Models.Product>

@{
    ViewData["Title"] = "ProductsList";
}

<h1>ProductsList</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td class="SKU">
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <button class="btn-primary BtnAdd" onclick="GetName();">Add</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
<label>SKUs Scanned</label><input class="form-control col-md-12" id="ProdPur" type="text" readonly />
</div>
<div>
<label>Total Expected </label>

<input type="text" class="form-control col-md-12" id="TotalPrice" readonly />
</div>
<div>
    <button id="BtnReset" class="btn-primary">Reset</button>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script src="~/js/Product.js"></script>


